body{
    background-image: url("https://vignette.wikia.nocookie.net/steamtradingcards/images/6/6e/Chicken_Invaders_4_Background_Space.jpg");
}
#spaceship{
    position: absolute; 
    left: 700; 
    bottom: 0; 
    width:100px; 
    height:100px;
}
.bullet{
    width: 10px;
    height: 40px;
    position: absolute; 
    background-image: url("http://pngimg.com/uploads/bullets/bullets_PNG1456.png");
    background-size: cover;
    background-position: center;
}
#alien{
    position: absolute; 
    left: 700; 
    bottom: 610; 
    width:100px; 
    height:100px;
}
.alienAttack{
    position: absolute; 
    left: 780;  
    bottom: 500;  
    width:10px; 
    height:40px;
    background-image: url("https://i.ibb.co/x712yPb/Bullet-PNG-Transparent-Image-500x629.png");
    background-size: cover;
    background-position: center;
}