#spaceship{
    position: absolute; 
    left: 700; 
    bottom: 0; 
    width:100px; 
    height:100px;
}
.bullet{
    width: 10px;
    height: 40px;
    position: absolute; 
    background-image: url("https://bit.ly/2FfBND0");
    background-size: cover;
    background-position: center;
}
#alien{
    position: absolute; 
    left: 700; 
    bottom: 610; 
    width:100px; 
    height:100px;
}
.alienAttack{
    position: absolute; 
    left: 780; 
    bottom: 500; 
    width:10px; 
    height:40px;
    border:2px solid black;
    background-color: red;
}